/* ===========================
   GLOBAL
=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fb;
  display: flex;
  color: #333;
}

/* ===========================
   SIDEBAR
=========================== */

.sidebar {
  width: 260px;
  height: 100vh;
  background: #1e293b;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.15);
}

.logo {
  padding: 35px 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo i {
  font-size: 50px;
  color: #3b82f6;
  margin-bottom: 15px;
}

.logo h2 {
  font-size: 22px;
  font-weight: 600;
}

.logo span {
  font-size: 14px;
  color: #cbd5e1;
}

.sidebar ul {
  list-style: none;
  margin-top: 30px;
}

.sidebar ul li a {
  padding: 18px 25px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #cbd5e1;
  text-decoration: none;
}

.sidebar ul li i a {
  width: 25px;
}

.sidebar ul li:hover {
  background: #2563eb;
}

.sidebar ul li.active {
  background: #2563eb;
}

.sidebar button {
  margin: auto 20px 25px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #dc2626;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  background: #b91c1c;
}

/* ===========================
   MAIN
=========================== */

.main {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 30px;
}

/* ===========================
   NAVBAR
=========================== */

.navbar {
  background: white;
  padding: 20px 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.navbar h2 {
  font-size: 28px;
  color: #1e293b;
}

.navbar p {
  color: #64748b;
  margin-top: 4px;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user i {
  font-size: 48px;
  color: #2563eb;
}

.user h4 {
  color: #1e293b;
}

.user span {
  color: #64748b;
  font-size: 14px;
}

/* ===========================
   CARD
=========================== */

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card i {
  font-size: 35px;
  margin-bottom: 15px;
  color: #2563eb;
}

.card h3 {
  font-size: 17px;
  color: #64748b;
}

.card h1 {
  margin-top: 10px;
  font-size: 38px;
  color: #1e293b;
}

.total {
  border-left: 6px solid #2563eb;
}

.ready {
  border-left: 6px solid #22c55e;
}

.keluar {
  border-left: 6px solid #f59e0b;
}

.terjual {
  border-left: 6px solid #ef4444;
}

/* ===========================
   CHART
=========================== */

.chart-area {
  margin-top: 30px;
}

.chart-container {
  width: 450px;
  height: 300px;
  margin: 20px auto;
}

.box {
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  height: 420px;
}

#chartStatus {
  max-width: 500px;
  max-height: 300px;
  margin: auto;
}

.box h3 {
  margin-bottom: 25px;
}

/* ===========================
   TABLE
=========================== */

.table-area {
  margin-top: 30px;
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-header h3 {
  color: #1e293b;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2563eb;
  color: white;
}

th {
  padding: 15px;
  text-align: left;
}

td {
  padding: 15px;

  border-bottom: 1px solid #e2e8f0;
}

tbody tr:hover {
  background: #f8fafc;
}

/* ===========================
   STATUS
=========================== */

.status-ready {
  background: #dcfce7;
  color: #166534;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 13px;
}

.status-keluar {
  background: #fef3c7;
  color: #92400e;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 13px;
}

.status-terjual {
  background: #fee2e2;
  color: #991b1b;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 13px;
}

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

/* ===========================
   RESPONSIVE
=========================== */

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 90px;
  }

  .logo h2,
  .logo span,
  .sidebar ul li {
    font-size: 0;
  }

  .sidebar ul li i {
    font-size: 22px;
  }

  .main {
    margin-left: 90px;
    width: calc(100% - 90px);
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  table {
    font-size: 12px;
  }
}

/*==============================
MODAL
==============================*/

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 720px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  animation: popup 0.25s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 90%;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-header {
  background: #2563eb;
  color: white;
  padding: 18px;
}

.modal-header h2 {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.modal-body {
  padding: 25px;
}

.modal-body label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  font-weight: 600;
}

.modal-body input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.modal-footer {
  padding: 20px;
  text-align: right;
}

.btn-primary {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 15px;
}

.form-grid div {
  display: flex;
  flex-direction: column;
}

.form-grid label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-grid input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

#uidMotor {
  margin-top: 8px;
  margin-bottom: 15px;
}

.btn-edit,
.btn-delete {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  transition: 0.25s;
}

.btn-edit {
  background: #2563eb;
  margin-right: 6px;
}

.btn-edit:hover {
  background: #1d4ed8;
}

.btn-delete {
  background: #dc2626;
}

.btn-delete:hover {
  background: #b91c1c;
}

.btn-secondary {
  background: #e5e7eb;
  color: #111827;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-secondary:hover {
  background: #d1d5db;
}

.search-input {
  width: 20%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

/* ==========================
   CHART
========================== */

/* ===========================
   CHART
=========================== */

.chart-area {
  margin-top: 30px;
}

.chart-container-laporan {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.chart-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.chart-card h3 {
  margin-bottom: 15px;
  color: #1e293b;
}

.chart-box {
  position: relative;
  width: 100%;
  height: 320px;
}

.chart-box canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
}

.chart-full {
  margin-top: 20px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.chart-full h3 {
  margin-bottom: 15px;
}

.chart-box-activity {
  position: relative;
  width: 100%;
  height: 240px;
}

.chart-box-activity canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
}

/* ===================================
   RESPONSIVE TABLET
=================================== */

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart-container-laporan {
    grid-template-columns: 1fr;
  }

  .search-input {
    width: 40%;
  }
}

/* ===================================
   RESPONSIVE MOBILE
=================================== */

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  /* ================= Sidebar ================= */

  .sidebar {
    width: 260px;

    left: -260px;

    transition: 0.3s;

    z-index: 9999;
  }

  .sidebar.active {
    left: 0;
  }

  .main {
    margin-left: 0;

    width: 100%;

    padding: 15px;
  }

  /* ================= Navbar ================= */

  .navbar {
    flex-direction: column;

    align-items: flex-start;

    gap: 15px;

    padding: 18px;
  }

  .navbar h2 {
    font-size: 22px;
  }

  .user {
    width: 100%;

    justify-content: flex-start;
  }

  .user i {
    font-size: 38px;
  }

  /* ================= Card ================= */

  .cards {
    grid-template-columns: 1fr;

    gap: 15px;
  }

  .card {
    padding: 20px;
  }

  .card h1 {
    font-size: 30px;
  }

  /* ================= Chart ================= */

  .chart-container-laporan {
    grid-template-columns: 1fr;
  }

  .chart-card {
    padding: 15px;
  }

  .chart-box {
    height: 260px;
  }

  .chart-box-activity {
    height: 220px;
  }

  /* ================= Table ================= */

  .table-area {
    overflow-x: auto;

    padding: 15px;
  }

  table {
    min-width: 700px;
  }

  .table-header {
    flex-direction: column;

    align-items: flex-start;

    gap: 15px;
  }

  .search-input {
    width: 100%;
  }

  /* ================= Modal ================= */

  .modal-content {
    width: 95%;
  }

  .modal-body {
    padding: 18px;
  }

  .modal-header h2 {
    font-size: 22px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .modal-footer {
    display: flex;

    flex-direction: column-reverse;

    gap: 10px;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
  }
}

/* ===================================
   EXTRA SMALL DEVICE
=================================== */

@media (max-width: 480px) {
  .navbar {
    padding: 15px;
  }

  .navbar h2 {
    font-size: 20px;
  }

  .card {
    padding: 18px;
  }

  .card h1 {
    font-size: 26px;
  }

  .card h3 {
    font-size: 15px;
  }

  .chart-box {
    height: 220px;
  }

  .chart-box-activity {
    height: 200px;
  }

  .logo i {
    font-size: 40px;
  }

  .logo h2 {
    font-size: 18px;
  }

  .logo span {
    font-size: 12px;
  }
}
